body{
    margin: auto;
    min-width : 768px;
    max-width: 1080px;
    min-height: 768;
}
div.container-fluid{
    margin:auto;
    padding-top: 12px;
    background-color: rgb(0,27,59);
}
div.collapse.navbar-collapse{
    padding-top: 0px;
}

.show-mobile {
    
    display: inline-block;
    background-image: url("../../images/logo.png");
    background-repeat: no-repeat;
}
.navbar {
    min-height: 60px;
    border: none;
    background-color: #001a3a;
    margin-bottom: 0px;
}

.navbar-nav {
    margin: 0px;
}

.dropdown-menu {
	width: 250px;
    padding: 3px 0;
    background-color: #FFFFFF;
}

.dropdown-toggle {
    min-width: 40px;
    min-height: 40px;
}

.margin {
    margin-right: 10px;
}

.open > a, .open > a:hover {
    background-color: transparent;
}
.float-image{
	float: left;
}

#navCompetences {
    background: url('../images/chapterOverview-inactive.png') transparent no-repeat;
}

#navCompetences:hover, #navCompetences:focus, .open > #navCompetences {
    background: url('../images/chapterOverview-active.png');
}

#navFoerderplan {
	margin-left:8px;
	margin-right: 8px;
    background: url('../images/educationalPlan-inactive.png') transparent no-repeat;
}

#navFoerderplan:hover, #navFoerderplan:focus, .open > #navFoerderplan {
    background: url('../images/educationalPlan-active.png');
}

#navMyCompetences {
    background: url('../images/achievedCompetences-inactive.png') transparent no-repeat;
}

#navMyCompetences:hover, #navMyCompetences:focus, .open > #navMyCompetences {
    background: url('../../images/achievedCompetences-active.png');
}
#navClass{
	margin-right: 8px;
}
#navSchool{
	margin-right: 8px;
}
#navAvatar{
	margin-right: 8px;
}
#navHelp{
	margin-left:8px;
	margin-right: 8px;
}

#navLogout {
    background: url('../images/logout-iactive.png') transparent no-repeat;
}

#navLogout:hover, #navLogout:focus, .open > #navLogout {
    background: url('../images/logout-active.png');
}

.center {
    display: none;
    text-align: center;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
    .navbar-collapse {
        padding: 12px 0px 0px 0px;
    }

    .navbar-right > li {
        float: right;
    }

    .center {
        display: block;
        text-align: center;
    }
    .show-mobile {
        display: none;
    }
}

/*
    CHAPTER COLORS
*/
li#chapter1 > a {
    background-color: #79ab2e;
}

li#chapter1 > a:hover {
    background-color: #a1c153;
}

li#chapter2 > a {
    background-color: #c6d54f;
}

li#chapter2 > a:hover {
    background-color: #dbe283;
}