body {
  background-color: #f7bed2;
}

#representation {
  width: 1005px;
  margin: auto;
}

#representationLeftElement {
  display: inline-block;
  width: 340px;
}

#representationMiddleElement {
  display: inline-block;
  vertical-align: top;
  padding-top: 15px;
  width: 340px;
}

#representationRightElement {
  display: inline-block;
  padding-top: 45px;
  width: 310px;
}

.placeholderHeader {
  width: 100%;
  height: 60px;
  background-color: #001a3a;
}

.textbubble {
  display: block;
  margin: 5px auto;
}

.statusCompetence {
  display: block;
  position: absolute;
  margin-top: -110px;
  margin-left: 290px;
}

.tooltip .tooltip-inner {
  background-color: #001a3a;
  color: white;
  text-align: left;
  padding: 10px 15px;
  max-width: 250px;
  min-width: 250px;
  top: 200px;
  min-height: 60px;
  border: 3px solid white;
  transform: translateY(20%);
}

.tooltip.right .tooltip-arrow {
  margin-top: -6px;
  border-width: 6px 6px 6px 0;
  border-right-color: white;
}

.tooltip.right {
  margin-left: 12px;
  padding: 0 6px;
}
