body {
  background-color: #f7bed2;
}

#representation {
  width: 1005px;
  margin: auto;
}

#representationLeftElement {
  display: inline-block;
  width: 340px;
}

#representationMiddleElement {
  display: inline-block;
  vertical-align: top;
  padding-top: 15px;
  width: 340px;
}

#representationRightElement {
  display: inline-block;
  padding-top: 45px;
  width: 310px;
}

.textbubble {
  display: block;
  margin: 5px auto;
}
