<app-navbar></app-navbar>
<main class="main">
    <img *ngIf="selectedAvatar" class="displayedCentralImage icon" id="avatar"
         src="../..{{selectedAvatar.avatarBigUrl}}"
         alt="Your Avatar">
    <form id="changeAvatar">
        <div class="alignedCenter">
            <label class="headline checkNacht">PROFILBILD &Auml;NDERN</label>
        </div>
        <div class="alignedCenter">
            <input type="submit" id="buttonCancel" value="ABBRECHEN" (click)="deselectAvatar()">
            <input type="submit" value="SPEICHERN" (click)="updateSelectedAvatar()">
        </div>
    </form>
    <div class="avatarListCentered">
        <button *ngFor="let avatar of checkService.avatare" id="avatar{{avatar._id}}" type="button" class="avatarButton"
                (click)="selectAvatar(avatar)">
            <img src="../..{{avatar.avatarBigUrl}}">
        </button>
    </div>
</main>
<app-footer></app-footer>