header1
{
    margin:auto;
    padding-top: 12px;
    background-color: rgb(0,27,59);
    
}
.navbar .less {
    margin-bottom: 0px;
}
.navbar-header {
    float: none;
    min-height: 48px;
}
.navbar-default {
    padding-top:12px;
    background-color: rgb(0,27,59);
    border:none;
    margin-bottom: 0px;
}
.logo{
    text-align: center;
}
.right {
    text-align: right;
}

body{
    margin: auto;
    min-width : 768px;
    max-width: 1080px;
    min-height: 768;
}

nav.navbar.navbar-inverse{
    margin: auto;
    border: 0px;
}
div.container-fluid{
    padding: inherit;
    padding-right: 4px;
    padding-left: 4px;
}
ul.nav.navbar-nav{
    margin: inherit;
}
.nav>li>a{
    padding-top: 0px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 8px;
}
div.container-fluid{
    margin:auto;
    padding-top: 12px;
    background-color: rgb(0,27,59);
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: transparent;
}
