body {
    overflow-x: hidden;
}
main .container-fluid {
    padding: 0px;
}

.col-sm-4.leftCol {
    display: none;
}

.col-sm-4.rightCol {
    display: none;
}

@media (min-width: 768px) {
    .col-sm-4.leftCol {
        display: inline-block;
    }

    .col-sm-4.rightCol {
        display: inline-block;
    }

    #content-container {
        max-width: 1080px;
        overflow: hidden;
        margin: auto;
    }
}