body {
    overflow-x: hidden;
}

main .container-fluid {
    padding: 0px;
}

.col-sm-4.leftCol {
    display: none;
}

.col-sm-4.rightCol {
    display: none;
}

#educational-chapter-flag {
    background: url("../../images/littleChapterFlag1.png") transparent no-repeat;
    height: 44px;
}

#educational-chapter-flag p {
    color: #FFF;
    font-family: "Comic Sans MS", sans-serif, Verdana, sans-serif;
    font-size: 15pt;
    font-weight: bold;
    padding: 10px 0px 0px 20px;
}

@media (min-width: 768px) {
    .col-sm-4.leftCol {
        display: inline-block;
    }

    .col-sm-4.rightCol {
        display: inline-block;
    }

    #content-container {
        max-width: 1080px;
        overflow: hidden;
        margin: auto;
    }
}