<app-navbar></app-navbar>
<main class="main">
    <div id="content-container">
        <app-scroll-buttons [scrollUpBtnUrl]="'../../images/scrollUp.png'"
                            [scrollDownBtnUrl]="'../../images/scrollDown.png'">
        </app-scroll-buttons>
        <div class="container-fluid">
            <div id="educational-chapter-flag">
                <p>
                    {{(selectedPlan) ? selectedPlan.thema : ""}}
                </p>
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <div *ngFor="let comp of educationalCompetences"
                     style="background-image: url('../../images/contentTextBubble.png'); width:369px; height:120px;  margin: auto;">
                    <div style="width: 341px; height: 120px;" tooltip="{{comp.note}}">
                        {{comp.studentText}}<br/>
                        <img src="{{getImageUrl(comp.checked)}}"><br/><br/>
                        {{comp.number}} unten Links (klein)
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
<app-footer></app-footer>