<app-navbar></app-navbar>
<main class="main">
    <div id="content-container">
        <app-scroll-buttons [scrollUpBtnUrl]="'../../images/scrollUp.png'"
                            [scrollDownBtnUrl]="'../../images/scrollDown.png'">
        </app-scroll-buttons>
        <div class="container-fluid">
            <div id="educational-chapter-flag">
                <p>
                    {{(selectedPlan) ? selectedPlan.thema : ""}}
                </p>
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <div class="textbubble"  *ngFor="let comp of educationalCompetences">
                    <div class="bubbleContent">
                        <img class="statusCompetence"
                             src="{{getImageUrl(comp.checked)}}"
                             tooltip="{{comp.note}}" />
                        <span class="studentText">{{comp.studentText}}</span>
                        <span class="number">{{comp.number}}</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
<app-footer></app-footer>