<div bsModal #informationModal="bs-modal" class="modal fade" id="infoModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">INFORMATION</h4>
            </div>
            <div class="modal-body">
                <p>{{modalService.sbjInfoMsg}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="hide(informationModal)">Close</button>
            </div>
        </div>
    </div>
</div>
<div bsModal #errorModal="bs-modal" class="modal fade" id="errorModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ERROR</h4>
            </div>
            <div class="modal-body">
                <p>{{modalService.sbjErrorMsg}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="hide(errorModal)">Close</button>
            </div>
        </div>
    </div>
</div>
<div bsModal #successModal="bs-modal" class="modal fade" id="successModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">SUCCESS</h4>
            </div>
            <div class="modal-body">
                <p>{{modalService.sbjSuccessMsg}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="hide(successModal)">Close</button>
            </div>
        </div>
    </div>
</div>