<div *ngIf="modalService.isMsgVisible" class="modal fade show in danger" id="stdModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <p>{{modalService.msg}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="modalService.hide()">Close</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="modalService.isErrorVisible" class="modal fade show in danger" id="errorModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <p>{{modalService.errorMsg}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="modalService.hide()">Close</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="modalService.isSuccessVisible" class="modal fade show in danger" id="successModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <p>{{modalService.successMsg}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="modalService.hide()">Close</button>
            </div>
        </div>
    </div>
</div>