<div bsModal #informationModal="bs-modal" class="modal fade" id="infoModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="closing" data-dismiss="modal"><img src = "../../images/delete.png"></button>
                <img class = "displayedCentralImage" src = "../../images/advice.png">
            </div>
            <div class="modal-body">
                <p>{{modalService.sbjInfoMsg}}</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div bsModal #errorModal="bs-modal" class="modal fade" id="errorModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="closing" data-dismiss="modal"><img src = "../../images/delete.png"></button>
                <img class = "displayedCentralImage" src = "../../images/warning.png">
            </div>
            <div class="modal-body">
                <p>{{modalService.sbjErrorMsg}}</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div bsModal #successModal="bs-modal" class="modal fade" id="successModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="closing" data-dismiss="modal"><img src = "../../images/delete.png"></button>
                <img class = "displayedCentralImage" src = "../../images/confirmation.png">
            </div>
            <div class="modal-body">
                <p>{{modalService.sbjSuccessMsg}}</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
