.tooltip .tooltip-inner {
  background-color: #001a3a;
  color: white;
  text-align: left;
  padding: 10px 15px;
  max-width: 250px;
  min-width: 250px;
  top: 200px;
  min-height: 60px;
  border: 3px solid white;
  transform: translateY(20%);
}

.tooltip.right .tooltip-arrow {
  margin-top: -6px;
  border-width: 6px 6px 6px 0;
  border-right-color: white;
}

.tooltip.right {
  margin-left: 12px;
  padding: 0 6px;
}
