<app-navbar></app-navbar>
<main class="main">
    <div id="content-container">
        <app-scroll-buttons [scrollUpBtnUrl]="getScrollUpBtnUrl()" [scrollDownBtnUrl]="getScrollDownBtnUrl()">
        </app-scroll-buttons>
        <div class="container-fluid" *ngFor="let compGroup of construction; let i = index">
            <div *ngIf="i == 0">
                <img src="{{getFlagUrl(selectedID)}}" alt="Chapter Flag">
            </div>
            <div class="col-sm-4 leftCol">
                <img src="../..{{compGroup.illustration.illustrationLeft}}" alt="Illustration Left">
            </div>
            <div class="col-sm-4">
                <div class="textbubble" *ngFor="let comp of compGroup.competences; let j = index">
                    <div class="bubbleContent" *ngIf="comp.checked">
                        <img class="statusCompetence"
                             src="../../images/chapter{{getFolderNrForComp(comp.chapterId)}}/competenceDone.png"
                             tooltip="Die Kompetenz wurde am {{comp.fromDate}} erreicht." />
                        <span class="studentText">{{comp.studentText}}</span>
                        <span class="number">{{comp.number}}</span>
                    </div>
                    <div class="bubbleContent" *ngIf="comp.isInEducationalPlan && !comp.checked">
                        <img class="statusCompetence"
                             src="../../images/isInEducationalPlan.png"
                             tooltip="{{comp.note}}" />
                        <span class="studentText">{{comp.studentText}}</span>
                        <span class="number">{{comp.number}}</span>
                    </div>
                    <div class="bubbleContent" *ngIf="!comp.isInEducationalPlan && !comp.checked">
                        <img class="statusCompetence"
                             src="../../images/chapter{{getFolderNrForComp(comp.chapterId)}}/competenceUndone.png" />
                        <span class="studentText">{{comp.studentText}}</span>
                        <span class="number">{{comp.number}}</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 rightCol">
                <img src="../..{{compGroup.illustration.illustrationRight}}" alt="Illustration Right">
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>