<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <div style="margin: auto;">
                <span class="show-mobile">
                    <img src="../../images/logo.png"/>
                </span>
                <button type="button" class="navbar-toggle" (click)="isCollapsed = !isCollapsed">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <div class="navbar-collapse" [collapse]="isCollapsed">
            <ul class="nav navbar-nav navbar-left col-sm-4">
                <li dropdown class="{{nav_url_fragments.ROUTE_CHAPTER_LIST_CLASS}}">
                    <a dropdownToggle id="navCompetences"></a>
                    <ul dropdownMenu>
                        <div class="visitenkarte">
                            <div class="header">
                                <div class="header-icon">
                                    <img src="../../images/confirmation.png" />
                                </div>
                                <div class="header-text">
                                    <span>
                                        KOMPETENZLISTE
                                    </span>
                                </div>
                            </div>
                        </div>
                        <li *ngFor="let chapter of checkService.getChapters()"
                            class="chapter{{chapter._id}}" routerLink="/chapter/{{chapter._id}}">
                            <a>{{chapter.name}}</a>
                        </li>
                    </ul>
                </li>
                <li dropdown class="{{nav_url_fragments.ROUTE_PLAN_CLASS}}">
                    <a dropdownToggle id="navFoerderplan"></a>
                    <ul dropdownMenu>
                        <div class="visitenkarte">
                            <div class="header">
                                <div class="header-icon">
                                    <img src="../images/educationalPlan-big.png"/>
                                </div>
                                <div class="header-text">
                                    <span>
                                        F&Ouml;RDERPLAN
                                    </span>
                                </div>
                            </div>
                        </div>
                        <li *ngFor="let eduPlan of checkService.getEducationalPlans()"
                            class="" routerLink="/educationalPlan/{{eduPlan._id}}">
                            <a>{{eduPlan.name}}</a>
                        </li>
                    </ul>
                </li>
                <li dropdown class="{{nav_url_fragments.ROUTE_ACHIEVED_LIST_CLASS}}">
                    <a dropdownToggle id="navMyCompetences"></a>
                    <ul dropdownMenu>
                        <div class="visitenkarte">
                            <div class="header">
                                <div class="header-icon">
                                    <img src="../images/achievedCompetences-big.png" />
                                </div>
                                <div class="header-text">
                                    <span>
                                        DAS KANN ICH!
                                    </span>
                                </div>
                            </div>
                        </div>
                        <li routerLink="/achieved/0">
                            <a>ALLE KOMPETENZEN</a>
                        </li>
                        <li *ngFor="let chapter of checkService.getChapters()"
                            class="chapter{{chapter._id}}" routerLink="/achieved/{{chapter._id}}">
                            <a>{{chapter.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <span class="nav navbar-nav col-sm-4 center">
                <img src="../../images/logo.png"/>
            </span>
            <ul class="nav navbar-nav navbar-right col-sm-4" id="right">
                <li dropdown class="{{nav_url_fragments.ROUTE_AVATAR_CLASS}}">
                    <a dropdownToggle id="navAvatar"></a>
                    <ul dropdownMenu>
                        <div class="visitenkarte" *ngIf="checkService.getStudent() != null">
                            <div class="header">
                                <div class="header-icon">
                                    <img *ngIf="checkService.getAvatar() != null"
                                         src="../..{{checkService.getAvatar().avatarBigUrl}}"/>
                                </div>
                                <div class="header-text">
                                    <span>
                                        {{checkService.getStudent().forename}}<br/>
                                        {{checkService.getStudent().surname}}
                                    </span>
                                </div>
                            </div>
                            <div class="additional-info">KLASSENLERHER*IN<br/>
                                {{checkService.getStudent().formteacher}}
                            </div>
                        </div>
                        <li routerLink="/changeavatar">
                            <a>MEIN PROFILBILD &Auml;NDERN</a>
                        </li>
                        <li routerLink="/changepw">
                            <a>MEIN PASSWORT &Auml;NDERN</a>
                        </li>
                        <li routerLink="/deleteprofile">
                            <a>MEIN PROFIL L&Ouml;SCHEN</a>
                        </li>
                    </ul>
                </li>
                <li dropdown>
                    <a dropdownToggle id="navSchool"></a>
                    <ul dropdownMenu>
                        <div class="visitenkarte" *ngIf="checkService.getStudent() != null">
                            <div class="header">
                                <div class="header-icon">
                                    <img src="../..{{checkService.getStudent().school.imageUrlBig}}"/>
                                </div>
                                <div class="header-text">
                                    <span>{{checkService.getStudent().school.name}}</span>
                                </div>
                            </div>
                            <div class="additional-info">
                                {{getStreet()}}<br/>
                                {{getTown()}}<br/>
                                {{checkService.getStudent().school.country}}<br/><br/>
                                {{checkService.getStudent().school.email}}<br/>
                                {{checkService.getStudent().school.telefon}}
                            </div>
                        </div>
                    </ul>
                </li>
                <li dropdown>
                    <a dropdownToggle id="navClass"></a>
                    <ul dropdownMenu>
                        <div class="visitenkarte" *ngIf="checkService.getStudent() != null">
                            <div class="header">
                                <div class="header-icon">
                                    <img src="../..{{checkService.getStudent().studyGroups.imageUrlBig}}"/>
                                </div>
                                <div class="header-text">
                                    <span>
                                        KLASSE<br/>
                                        {{checkService.getStudent().studyGroups.class}}</span>
                                </div>
                            </div>
                            <div class="additional-info">KLASSENLERHER*IN<br/>
                                {{checkService.getStudent().formteacher}}
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="seperator"></li>
                <li dropdown>
                    <a dropdownToggle id="navHelp"></a>
                    <ul dropdownMenu>
                        <div class="visitenkarte">
                            <div class="header">
                                <div class="header-icon">
                                    <img src="../../images/help-big.png" />
                                </div>
                                <div class="header-text">
                                    <span>
                                        BRAUCHST DU HILFE?
                                    </span>
                                </div>
                            </div>
                        </div>
                        <li>
                            <a href="http://www.check-lehrerzimmer.com/hilfe/erste-schritte/" target="_blank">SO
                                GEHT'S!</a>
                        </li>
                        <li>
                            <a href="http://www.check-lehrerzimmer.com/tutorial/" target="_blank">VIDEO-TUTORIALS</a>
                        </li>
                        <li>
                            <a href="http://www.check-lehrerzimmer.com/faq/" target="_blank">H&Auml;UFIG GESTELLTE
                                FRAGEN</a>
                        </li>
                        <li>
                            <a href="http://www.check-lehrerzimmer.com/contact/" target="_blank">KONTAKT</a>
                        </li>
                    </ul>
                </li>
                <li dropdown>
                    <a dropdownToggle id="navLogout"></a>
                    <ul dropdownMenu>
                        <div class="visitenkarte">
                            <div class="header">
                                <div class="header-icon">
                                    <img src="../../images/logout-big.png" />
                                </div>
                                <div class="header-text">
                                    <span>
                                        M&Ouml;CHTEST DU CHECK! VERLASSEN?
                                    </span>
                                </div>
                            </div>
                        </div>
                        <li>
                            <a (click)="checkService.logout()">JA</a>
                        </li>
                        <li>
                            <a>NEIN</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
