.show-mobile {
    width: 137px;
    height: 42px;
    display: inline-block;
    background-image: url("../../images/logo.png");
    background-repeat: no-repeat;
}
.navbar {
    min-height: 60px;
    border: none;
    margin-bottom: 0px;
    background-color: #001a3a;
    position: fixed;
    z-index: 9999;
    width: 100%;
}

.navbar-nav {
    margin: 0px;
}

.dropdown-menu {
    padding: 3px 0;
    background-color: #FFFFFF;
}

.dropdown-toggle {
    min-width: 40px;
    min-height: 40px;
}

.margin {
    margin-right: 10px;
}

.open > a, .open > a:hover {
    background-color: transparent;
}

#navCompetences {
    background: url('../../images/chapterOverview-inactive.png') transparent no-repeat;
}

#navCompetences:hover, #navCompetences:focus, .open > #navCompetences {
    background: url('../../images/chapterOverview-active.png');
}

#navFoerderplan {
    background: url('../../images/educationalPlan-inactive.png') transparent no-repeat;
}

#navFoerderplan:hover, #navFoerderplan:focus, .open > #navFoerderplan {
    background: url('../../images/educationalPlan-active.png');
}

#navMyCompetences {
    background: url('../../images/achievedCompetences-inactive.png') transparent no-repeat;
}

#navMyCompetences:hover, #navMyCompetences:focus, .open > #navMyCompetences {
    background: url('../../images/achievedCompetences-active.png');
}

#navHelp {
    background: url('../../images/help-inactive.png') transparent no-repeat;
}

#navHelp:hover, #navHelp:focus, .open > #navHelp {
    background: url('../../images/help-active.png');
}

#navLogout {
    background: url('../../images/logout-iactive.png') transparent no-repeat;
}

#navLogout:hover, #navLogout:focus, .open > #navLogout {
    background: url('../../images/logout-active.png');
}

.center {
    display: none;
    text-align: center;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
    .navbar-collapse {
        padding: 12px 0px 0px 0px;
    }

    .navbar-right > li {
        float: right;
    }

    .center {
        display: block;
        text-align: center;
    }
    .show-mobile {
        display: none;
    }
}


nav li > a {
    background-color: #001a3a;
    color: #4565ad;
    text-decoration: none;
    font-weight: bold;
}
nav li > a:hover {
    background-color: #8da6d6;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}