.show-mobile {
    width: 137px;
    height: 42px;
    display: inline-block;
    padding-top: 8px;
    padding-left: 10px;
}

.navbar {
    min-height: 60px;
    border: none;
    margin-bottom: 0px;
    background-color: #001a3a;
    width: 100%;
}

.navbar-collapse {
    padding: 0px;
}

.navbar-nav {
    margin: 0px;
    padding: 0px;
}

.navbar-nav > li > .dropdown-menu {
    border-radius: 0px;
    border-bottom: solid 1px #FFFFFF;
    padding: 0px;
    margin: 0px;
    color: #FFF;
}

.dropdown-menu > li > a {
    border-top: solid 1px #FFFFFF;
}

.dropdown-toggle {
    min-width: 40px;
    min-height: 40px;
}

.margin {
    margin-right: 10px;
}

.open > a, .open > a:hover {
    background-color: transparent;
}

.center {
    display: none;
    text-align: center;
}

nav li > a {
    background-color: #001a3a;
    color: #8da6d6;
    text-decoration: none;
    /* TODO: font-family: Verdana, sans-serif;*/
    font-size: 10pt;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

nav li > a:hover {
    background-color: #8da6d6;
    color: #FFF;
    cursor: pointer;
}

.visitenkarte {
    min-height: 125px;
    vertical-align: top;
    font-weight: bold;
    padding: 10px;
}

.visitenkarte .header .header-icon {
    display: inline-block;
    width: 70px;
    vertical-align: top;
}

.visitenkarte .header .header-text {
    display: inline-block;
    width: 100px;
    vertical-align: top;
    margin-left: 10px;
    text-transform: uppercase;
}

.visitenkarte .header .header-text span {
    color: #4565ad;
}

.visitenkarte .additional-info {
    color: #FFF;
    text-align: right;
    font-size: 10pt;
}

.navbar-toggle {
    margin-top: 12px;
    border: solid 1px #EEE;
}

.navbar-toggle .icon-bar {
    border: solid 1px #EEE;
}

@media (min-width: 768px) {
    nav .col-sm-4 {
        padding: 0px;
    }

    nav .container-fluid {
        height: 60px;
    }

    .navbar {
        border-radius: 0px;
    }

    .navbar-nav > li > .dropdown-menu {
        width: 250px;
        border: solid 3px #FFF;
        border-radius: 3px;
        padding: 0px;
        margin: 0px;
        color: #FFF;
        background-color: #001a3a;
    }

    .navbar-collapse {
        padding: 12px 0px 0px 0px;
    }

    .navbar-left .dropdown-toggle {
        margin-left: 10px;
    }

    .navbar-right .dropdown {
        float: left;
    }

    .navbar-right {
        max-width: 250px;
    }

    .navbar-right .dropdown-toggle {
        margin-left: 10px;
    }

    .center {
        display: block;
        text-align: center;
    }

    .show-mobile {
        display: none;
    }
}

#navCompetences {
    background: url('../../images/chapterOverview-inactive.png') transparent no-repeat;
}

#navCompetences:hover, #navCompetences:focus, .open > #navCompetences, li.isActive > #navCompetences {
    background: url('../../images/chapterOverview-active.png') transparent no-repeat;
}

#navFoerderplan {
    background: url('../../images/educationalPlan-inactive.png') transparent no-repeat;
}

#navFoerderplan:hover, #navFoerderplan:focus, .open > #navFoerderplan, li.isActive > #navFoerderplan {
    background: url('../../images/educationalPlan-active.png') transparent no-repeat;
}

#navMyCompetences {
    background: url('../../images/achievedCompetences-inactive.png') transparent no-repeat;
}

#navMyCompetences:hover, #navMyCompetences:focus, .open > #navMyCompetences,  li.isActive > #navMyCompetences {
    background: url('../../images/achievedCompetences-active.png') transparent no-repeat;
}

#navHelp {
    background: url('../../images/help-inactive.png') transparent no-repeat;
}

#navHelp:hover, #navHelp:focus, .open > #navHelp {
    background: url('../../images/help-active.png') transparent no-repeat;
}

#navLogout {
    background: url('../../images/logout-iactive.png') transparent no-repeat;
}

#navLogout:hover, #navLogout:focus, .open > #navLogout {
    background: url('../../images/logout-active.png') transparent no-repeat;
}

#navAvatar {
    margin: 0px;
}

#navAvatar:hover, #navAvatar:focus, .open > #navAvatar, li.isActive > #navAvatar {
    margin: 0px;
}