<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <div style="margin: auto;">
                <span class="show-mobile">
                    <img src="../../images/logo.png"/>
                </span>
                <button type="button" class="navbar-toggle" (click)="isCollapsed = !isCollapsed">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <div class="navbar-collapse" [collapse]="isCollapsed">
            <ul class="nav navbar-nav navbar-left col-sm-4">
                <li dropdown>
                    <a dropdownToggle id="navCompetences"></a>
                    <ul dropdownMenu>
                        <div class="visitenkarte">
                            <div class="header">
                                <img src="../../images/confirmation.png"/>
                                <span>Information</span>
                            </div>
                            evtl. weitere Informationen...
                        </div>
                        <li *ngFor="let chapter of checkService.chapters"
                            class="chapter{{chapter._id}}" routerLink="/chapter/{{chapter._id}}">
                            <a>{{chapter.name}}</a>
                        </li>
                    </ul>
                </li>
                <li dropdown>
                    <a dropdownToggle id="navFoerderplan"></a>
                    <ul dropdownMenu>
                        <span>
                          <img src="../images/educationalPlan-big.png" class="float-image"/>F&Ouml;DERPLAN
						</span>
                        <div>evtl. weitere Informationen...<br/><br/></div>
                        <!-- TODO: Standard CSS-Klasse erstellen -->
                        <li *ngFor="let eduPlan of checkService.educationalPlans"
                            class="" routerLink="/educationalPlan/{{eduPlan._id}}">
                            <a>{{eduPlan.name}}</a>
                        </li>
                    </ul>
                </li>
                <li dropdown>
                    <a dropdownToggle id="navMyCompetences"></a>
                    <ul dropdownMenu>
                        <span>
                            <img src="../images/achievedCompetences-big.png"
                                 class="float-image"/>DAS KANN ICH!<br/><br/><br/>
                        </span>
                        <li routerLink="/achieved/0">
                            <a>ALLE KOMPETENZEN</a>
                        </li>
                        <li *ngFor="let chapter of checkService.chapters"
                            class="chapter{{chapter._id}}" routerLink="/achieved/{{chapter._id}}">
                            <a>{{chapter.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <span class="nav navbar-nav col-sm-4 center">
                <img src="../../images/logo.png"/>
            </span>
            <ul class="nav navbar-nav navbar-right col-sm-4" id="right">
                <li dropdown>
                    <a dropdownToggle id="navAvatar"></a>
                    <ul dropdownMenu>
                        <span>
                            Hier kommen weitere Informationen rein..
                        </span>
                        <li routerLink="/changeavatar">
                            <a>MEIN PROFILBILD &Auml;NDERN</a>
                        </li>
                        <li routerLink="/changepw">
                            <a>MEIN PASSWORT &Auml;NDERN</a>
                        </li>
                        <li routerLink="/deleteprofile">
                            <a>MEIN PROFIL L&Ouml;SCHEN</a>
                        </li>
                    </ul>
                </li>
                <li dropdown>
                    <a dropdownToggle id="navSchool"></a>
                    <ul dropdownMenu>
                        <span>
                            Hier kommen weitere Informationen rein..
                        </span>
                    </ul>
                </li>
                <li dropdown>
                    <a dropdownToggle id="navClass"></a>
                    <ul dropdownMenu>
                        <span>
                            Hier kommen weitere Informationen rein..
                        </span>
                    </ul>
                </li>
                <li class="seperator"></li>
                <li dropdown>
                    <a dropdownToggle id="navHelp"></a>
                    <ul dropdownMenu>
                        <span>
                            <img src="../images/help-big.png" class="float-image"/>Brauchst du Hilfe?<Br/><Br/><Br/>
                        </span>
                        <li>
                            <a>SO GEHT'S!</a>
                        </li>
                        <li>
                            <a>VIDEO-TUTORIALS</a>
                        </li>
                        <li>
                            <a>H&Auml;UFIG GESTELLTE FRAGEN</a>
                        </li>
                        <li>
                            <a>KONTAKT</a>
                        </li>
                    </ul>
                </li>
                <li dropdown>
                    <a dropdownToggle id="navLogout"></a>
                    <ul dropdownMenu>
                        <span>
						<img src="../images/logout-big.png"
                             class="float-image"/>M&Ouml;CHTEST DU CHECK! VERLASSEN? <br/><br/>
                        </span>
                        <li>
                            <a (click)="checkService.logout()">JA</a>
                        </li>
                        <li>
                            <a>NEIN</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
